<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>{% block title %}Yoga Calendar{% endblock %}</title>
    {% block css %}
    <!-- Icons font CSS-->
    <link href="{% static 'Scheduler/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet"
          media="all">
    <link href="{% static 'Scheduler/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet"
          media="all">
    <!-- Font special for pages-->
    <link href=https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <!-- File Pond CSS-->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <!-- Vendor CSS-->
    <link href="{% static 'Scheduler/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Scheduler/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'Scheduler/vendor/bootstrap/css/bootstrap-grid.css' %}" rel="stylesheet">
    <link href="{% static 'Scheduler/vendor/bootstrap/css/bootstrap-reboot.css' %}" rel="stylesheet">

    <link href="{% static 'Scheduler/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'Scheduler/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'Scheduler/css/main.css' %}" rel="stylesheet" media="all">

    <!-- My CSS -->
    <link href="{% static 'Scheduler/mycss/calendar.css' %}" rel="stylesheet">
    <link href="{% static 'Scheduler/mycss/mycss.css' %}" rel="stylesheet">

    {% endblock %}


</head>

<body>

<div class="center_div">

  <h1 style="font-family:Helvetica Neue; color:#1646b7; font-size: 30px;">Please Upload your file</h1>

</div>


<div class="box">


  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile" name="document">
    <label class="custom-file-label" for="customFile">Choose file</label>
    </div>

    <button class="btn btn--radius-2 btn--blue" type="submit" >Upload</button>

  </form>

    <form method="post" enctype="multipart/form-data">

    </form>

</div>










<!-- Jquery JS-->
<script src="{% static 'Scheduler/vendor/jquery/jquery.min.js' %}"></script>
<!-- Vendor JS-->
<script src="{% static 'Scheduler/vendor/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'Scheduler/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'Scheduler/vendor/select2/select2.min.js' %}"></script>
<script src="{% static 'Scheduler/vendor/datepicker/moment.min.js' %}"></script>
<script src="{% static 'Scheduler/vendor/datepicker/daterangepicker.js' %}"></script>

<!-- Full Calendar JS-->
<script src="{% static 'Scheduler/packages/core/main.js' %}"></script>
<script src="{% static 'Scheduler/packages/daygrid/main.js' %}"></script>
<script src="{% static 'Scheduler/packages/timegrid/main.js' %}"></script>
<script src="{% static 'Scheduler/packages/resource-common/main.js' %}"></script>
<script src="{% static 'Scheduler/packages/resource-daygrid/main.js' %}"></script>
<script src="{% static 'Scheduler/packages/resource-timegrid/main.js' %}"></script>
<script src="{% static 'Scheduler/packages/interaction/main.js' %}"></script>
<script src="{% static 'Scheduler/packages/bootstrap/main.js' %}"></script>
<script src="{% static 'Scheduler/packages/rrule/main.js' %}"></script>
<script src="{% static 'Scheduler/packages/list/main.js' %}"></script>
<script src="{% static 'Scheduler/packages/luxon/main.js' %}"></script>
<script src="{% static 'Scheduler/packages/moment/main.js' %}"></script>




<!-- Main JS-->
<script src="{% static 'Scheduler/js/global.js' %}"></script>
<!-- File Pond JS-->
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>



  <script>



  </script>

</body>

</html>
<!-- end document-->
